<div class="commitStruct">
    <div>
        <span class="commitFont">Hash:</span><span>{{ .Hash }}</span>
    </div>
    <div>
        <span class="commitFont">Jira Ticket:</span><a href="https://jira.XX.com/browse/{{ .JiraTicket }}">{{ .JiraTicket }}</a>
    </div>
    <div>
        <span class="commitFont">Author:</span><span>{{ .Author }}</span>
    </div>
    <div>
        <span class="commitFont">Date:</span><span>{{ .Date }}</span>
    </div>
    <div>
        <span class="commitFont">Text:</span><span>{{ .Text }}</span>
    </div>
</div>