<h1>
  {{ .Title }}
</h1>
<div id="navigation">
    <ul>
        <li><a href="/logger">Logger</a></li>
        <li><a href="/release">Release manager</a></li>
        <li><a href="/deployment">Deployment manager</a></li>
    </ul>
</div>