<html>
    <head>
        <link rel="stylesheet" type="text/css" href="/static/main.css" />
        <script src="/static/jquery-2.1.1.js"></script>
    </head>
    <div id="container">
        <div id="header">
            {{ .HeaderSection }}
        </div>
        <div id="body">
            {{ .BodySection }}
        </div>
        <div id="footer">
            {{ .FooterSection }}
        </div>
    </div>
</html>