<div id="content">
    <h2>Project release</h2>
    <form name="input" action="execute" method="post" class="bigSeparation">
        <div>
            <span>Select the project to be released</span>
            <select name="project" onchange="window.location.href='/release/?project=' + this.value">
                {{ .Projects }}
            </select>
        </div>
        <div>
            <span>Select release type</span>
            <select name="type">
                {{ .ReleaseTypes }}
            </select>
        </div>
        <input type="submit" value="Submit">
    </form>
    <h3>Commits to be released</h3>
    <div>
        {{ .Commits }}
    <div>
</div>