<div id="content">
    <h2>Project release</h2>
    <form name="input" action="execute/" method="post" class="bigSeparation">
        <div>
            <span>Select the project to be released</span>
            <select id="projects" name="project">
                {{ .Projects }}
            </select>
        </div>
        <input type="submit" value="Submit">
    </form>

    <div id="commitsContent">
         {{ .CommitsSection }}
    </div>
</div>

<script>
    var project = window.location.href.split("=")[1]
    if (project) {
        document.querySelector('#projects [value="' + project + '"]').selected = true
    }

    $("#projects").change(function(e) {
        var url = "/release/?project=" + this.value;

        $.ajax({
            url: url,
            success: function(result) {
                $("#commitsContent").html(result);
            }
        });
    });

</script>