<div id="content">
    <h2>Project release</h2>
    <form name="input" action="execute/" method="post" class="bigSeparation">
        <div>
            <span>Select the project to be released</span>
            <select id="projects" name="project" onchange="window.location.href='/release/?project=' + this.value">
                {{ .Projects }}
            </select>
        </div>
        <input type="submit" value="Submit">
    </form>
    <h3>{{ .Project }} commits to be released</h3>
    <div>
        {{ if .Commits }}
            {{ .Commits }}
        {{else}}
            <div class="commitStruct">There isn't anything to commit</div>
        {{ end }}
    <div>
</div>

<script>
    var project = window.location.href.split("=")[1]
    if (project) {
        document.querySelector('#projects [value="' + project + '"]').selected = true
    }
</script>