<div id="content">
    <h2>Project release</h2>
    <form id="releaseForm" name="releaseForm" action="execute/" method="post" class="form">
        <div>
            <span>Select the project to be released</span>
            <select id="projects" name="project">
                {{ .Projects }}
            </select>
        </div>
        <input type="submit" value="Submit" class="releaseSubmit">
    </form>

    <div id="loadingText" class="loader"></div>
    <div id="releaseResult"></div>

    <div id="commitsContent">
         {{ .CommitsSection }}
    </div>
</div>

<script>
    var project = window.location.href.split("=")[1]
    if (project) {
        document.querySelector('#projects [value="' + project + '"]').selected = true
    }

    $("#projects").change(function(e) {
        var url = "/release/commits/?project=" + this.value;

        $.ajax({
            url: url,
            success: function(result) {
                $("#commitsContent").html(result);
            }
        });
    });

    var submitting = false;

    $("#releaseForm").submit(function(e) {
        var postData = $(this).serializeArray();
        var formURL = $(this).attr("action");

        if (!submitting) {

            var submitting = true;
            $("#commitsContent").hide();
            $("#loadingText").text("Executing release process");

            var numDots = 1;
            var loadingInterval = setInterval(function(){
                var dots = "";
                var index = 0;
                while (index < numDots) {
                   dots = dots + ".";
                   index++;
                }
                $("#loadingText").text("Executing release process" + dots);

                numDots++;
                if (numDots > 3) {
                    numDots = 0;
                }
            }, 750);

            $.ajax({
                url : formURL,
                type: "POST",
                data : postData,
                success:function(data, textStatus, jqXHR) {
                    clearInterval(loadingInterval);
                    $("#loadingText").text("");
                    $("#releaseResult").html(data);
                    $("#commitsContent").show();
                    submitting = false;
                },
                error: function(jqXHR, textStatus, errorThrown) {
                    clearInterval(loadingInterval);
                    $("#loadingText").text("");
                    $("#commitsContent").show();
                    submitting = false;
                }
            });
            e.preventDefault();
        }
    });
</script>