<div id="content">
    <h2>Project release</h2>
    <form id="releaseForm" name="releaseForm" action="execute/" method="post" class="form">
        <div>
            <span>Select the project to be released</span>
            <select id="projects" name="project">
                {{ .Projects }}
            </select>
        </div>
        <input id="releaseFormSubmit" type="submit" value="Submit" class="releaseSubmit">
    </form>

    <div id="loadingText" class="loader"></div>
    <div id="releaseResult"></div>

    <div id="commitsContent">
         {{ .CommitsSection }}
    </div>
</div>

<script>
    $("#projects").change(function(e) {
        $("#projects").attr("disabled", true);
        $("#releaseFormSubmit").attr("disabled", true);

        var url = "/release/commits/?project=" + this.value;

        $("#releaseResult").hide();
        $("#commitsContent").hide();

        var loadingInterval = loadingMessage("Loading project information");

        $.ajax({
            url: url,
            success: function(result) {
            $("#loadingText").text("");
                $("#commitsContent").show();
                $("#commitsContent").html(result);
                clearInterval(loadingInterval);

                $("#projects").attr("disabled", false);
                $("#releaseFormSubmit").attr("disabled", false);
            }
        });
    });


    $("#releaseForm").submit(function(e) {
        var postData = $(this).serializeArray();
        var formURL = $(this).attr("action");

        $("#releaseFormSubmit").attr("disabled", true);
        $("#projects").attr("disabled", true);

        var result = confirm("Do you want to start release process?");
        if (result) {
            var submitting = true;
            $("#commitsContent").hide();

            var loadingInterval = loadingMessage("Executing release process");

            $.ajax({
                url : formURL,
                type: "POST",
                data : postData,
                success:function(data, textStatus, jqXHR) {
                    clearInterval(loadingInterval);
                    $("#loadingText").text("");
                    $("#releaseResult").show();
                    $("#releaseResult").html(data);

                    $("#releaseFormSubmit").attr("disabled", false);
                    $("#projects").attr("disabled", false);
                },
                error: function(jqXHR, textStatus, errorThrown) {
                    clearInterval(loadingInterval);
                    $("#loadingText").text("");

                    $("#releaseFormSubmit").attr("disabled", false);
                    $("#projects").attr("disabled", false);
                }
            });

        } else {
            $("#releaseFormSubmit").attr("disabled", false);
            $("#projects").attr("disabled", false);
        }
        e.preventDefault();
    });

    function loadingMessage(message) {

        $("#loadingText").text(message);
        var numDots = 1;
        var loadingInterval = setInterval(function(){
            var dots = "";
            var index = 0;
            while (index < numDots) {
               dots = dots + ".";
               index++;
            }
            $("#loadingText").text(message + dots);

            numDots++;
            if (numDots > 3) {
                numDots = 0;
            }
        }, 750);

        return loadingInterval;
    }
</script>