<h3>{{ .Project }} commits to be released</h3>
<div class="commitsSection">
    {{ if .ReleaseCommitsElements }}
        {{ .ReleaseCommitsElements }}
    {{else}}
        <div class="noCommit">There isn't anything to commit</div>
    {{ end }}
<div>