<div id="content">
    <table id="keywords" cellspacing="0" cellpadding="0">
        <thead>
            <tr>
                <th><span>Time</span></th>
                <th><span>Level</span></th>
                <th><span>Text</span></th>
            </tr>
        </thead>
        <tbody>
            {{ .LoggerRows }}
        </tbody>
    </table>
</div>